@media (max-width: 768px){
	.page_bajada
	{
		padding: 20px 0px
	}
	.footer_lis ul
	{
		margin-top: 0px
	}
	.footer_data
	{
		padding-top: 15px;
		display: flex;
		margin-top:50px;
	}
	.footer_data2
	{
		padding-top: 15px;
		display: flex;

	}
	.link_pdf
	{
		margin: 0px;
	}
	.slick-arrow 
	{
		display: none !important; 
	}
	.dry_slide div
	{
		width: 100%
	}
	.body_logistica
	{
		top: 890px;
	}
	#menu_top
	{
		width: 100%
	}
}
@media (min-width: 1024px){
	#footer_first
	{
		width: 300px!important 
	}
	#footer_second
	{
		
padding-left: 83px;
		
margin-right: 12px;
	}
}

.home_blocks
	{
		width: 100%;
	}
.footer_slick
{
	width: 100%	
}

#cont-tipos-containers{
/*	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;*/
}
.slide-totcont{
	text-align: center;
/*	
	display: flex;
	justify-content: center;*/
}
.film_roll_next{
	display: none !important;
}
.film_roll_prev{display: none !important;}
.tback_img{
			height: 308px;

}

.thome_icon_4
{
	margin: 40px 0px 0px 0px;
	float: left;
	/*margin-left:33%;*/
	background-image: url(../img/back_icon_home_4.png);
	width: 235px;
}
.thome_icon_1
{
	margin: 40px 0px 0px 0px;
	float: left;
	/*margin-left:33%;*/
	background-image: url(../img/back_icon_home_1.png);
	width: 235px;
}
.thome_icon_2
{
	margin: 40px 0px 0px 0px;
	float: left;
	/*margin-left:33%;*/
	background-image: url(../img/back_icon_home_2.png);
	width: 235px;
}
.thome_icon_3
{
	margin: 40px 0px 0px 0px;
	float: left;
	/*margin-left:33%;*/
	background-image: url(../img/back_icon_home_3.png);
	width: 235px;
}
#conticfoot{
	display: flex;
	flex-direction:column;
	align-items:left;
	margin-left:15px;
}
#contInfofot{
	display: flex;
	flex-direction:column;
}